:root{
  --button-red: #F25022;
  --button-blue: #00b4f1;
  --button-green: #91c300;
  --button-yellow: #ffc300;
  --border-radius-red: 0;
  --border-radius-blue:  0 ;
  --border-radius-green: 0 ;
  --border-radius-yellow: 0 ;
  --border-red: 0px;
  --background: linear-gradient(100deg, #0078D7 0%, #003366 100%);
  --transform-button: skewX(-10deg) rotate(-5deg);
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.card {
  padding: 2em;
}

.color-button{
  transition: all 0.2s ease;
  cursor: pointer;
  filter: brightness(0.8);
}
.color-button:focus{
  outline: none;

}
.active{
  scale: 0.9;
  filter: brightness(1);
  border: 4px solid white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background);
  color: #f9f9f9;
}
#app{
  padding: 0%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: var(--background);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #f9f9f9;
    background: #1a1a1a;
  }
  a:hover {
    color: #747bff;
  }
}
[data-theme= "dark"]{
  --background: #1a1a1a;
  color: #f9f9f9;
  --transform-button: 0;
}
[data-theme= "pink"]{
  --background: #FFB8E0;
  color: #ce4492;
  --transform-button: skewX(0deg) rotate(0deg);
  --button-red: url('./assets/theme-pink/btn-red.jpeg');
  --button-blue: url('./assets/theme-pink/btn-blue.jpeg');
  --button-green: url('./assets/theme-pink/btn-green.jpeg');
  --button-yellow: url('./assets/theme-pink/btn-yellow.jpeg');
  --border-radius-red: 50% 0 0 0;
  --border-radius-blue:  0 0 0 50%;
  --border-radius-green: 0 50% 0 0;
  --border-radius-yellow: 0 0 50% 0;
}
[data-theme= "purple"]{
  --background: #954ebe;
  color: #4f1770;
  --transform-button: skewX(-5deg) rotate(0deg);

  --button-red: url('./assets/theme-purple/btn-red.jpeg');
  --button-blue: url('./assets/theme-purple/btn-blue.jpeg');
  --button-green: url('./assets/theme-purple/btn-green.jpeg');
  --button-yellow: url('./assets/theme-purple/btn-yellow.jpeg');

}
.theme-options{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}
.theme-option{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid;
}

.game-over{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 70vh;
  text-align: center;
  background-color: #584b9f;
  border-radius: 20px;
}
.game-over h2{
  font-size: 5em;
  color: white;
  margin: 0;
}
.game-over p{
  font-size: 1.5em;
  color: #eb960e;
}
.game-over_buttons
{
  display: flex;
  gap: 10px;
}

.game-over_buttons .restart, .game-over_buttons .exit{
  display: inline-block;
  font-size: 2.5rem;
  font-family: 'Comic Sans MS', sans-serif;
  border-radius: 4em;
  padding: 10px 20px;
  margin: 0.25em;
  color: #eb960e;
  height: 5rem;
  width: 10rem;
  cursor: pointer;
  border: #eb960e solid 5px;
}
.game-over_buttons .restart, .game-over_buttons .exit:hover{
  background-color: transparent;
  color: #eb960e;
}

.game-over_buttons .restart:hover, .game-over_buttons .exit{
  background-color: #eb960e;
  color: #584b9f;
}
.game-over_buttons .restart:focus{
  outline: none;
}
#theme-light {
  background-color: #f9f9f9;
  border-color: #1a1a1a;
}
#theme-dark {
  background-color: #1a1a1a;
  border-color: #f9f9f9;
}
#theme-pink{
  background-color: #FFB8E0;
  border-color: #954ebe;
} 
#theme-purple{
  background-color: #954ebe;
  border-color: #FFB8E0;
}

.GameBoard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  transform: var(--transform-button);
  transition: transform 0.5s;
}

.color-button{
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  aspect-ratio: 1;
  transition: all 0.2s ease;
  cursor: pointer;
}
#btn-green{
  background-color: var(--button-green);
  border-color: green;
  background-image: var(--button-green);
  border-radius: var(--border-radius-green);
}
#btn-red{
  background-color: var(--button-red);
  border-color: red;
  background-image: var(--button-red);
  border-radius: var(--border-radius-red);
}

#btn-blue{
  background-color: var(--button-blue);
  border-color: blue;
  background-image: var(--button-blue);
  border-radius: var(--border-radius-blue);
}
#btn-yellow{
  background-color: var(--button-yellow);
  border-color: yellow;
  background-image: var(--button-yellow);
  border-radius: var(--border-radius-yellow);
}
@media screen and (max-width: 480px) {
  .GameBoard{
    width: 100%;
    max-width: none;
  }
  .color-button{
    grid-gap: 5px;
  }
  .game-over{
    height: 90vh;
    width: 100vw;
  }
  .game-over h2{
    font-size: 3em;
  }
  .game-over p{
    font-size: 1em;
  }
  .game-over_buttons{
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  #app{
    margin-left: 20px;
  }
  
}